@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
$fontStack: 'Roboto', sans-serif;

$headerBackground: rgb(255, 239, 174);
$mainBackground: rgb(169, 248, 255);
$footerBackground: rgb(190, 153, 253);

$tabletBreakpoint: 600px;
$desktopBreakpoint: 900px;

$mobileMargin: 0;
$tabletMargin: 1.75vw;
$desktopMargin: 1rem;

// @media (max-width: 600px) {
//   $wrapperMargin: 0;
// }

// @media (max-width: 900px) {
//   $wrapperMargin: 0.5vw;
// }
