@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@300;500&display=swap');

$fontStack1: 'Roboto', sans-serif;
$fontStack2: 'Lato', sans-serif;

$lightFontColor: #fff;
$darkFontColor: rgb(0, 0, 0);
$lightBackgroundColor: #fff;
$darkBackgroundColor: rgb(0, 0, 0);
$headerBackground: rgb(255, 255, 255);
$mainBackground: rgb(255, 255, 255);
$footerBackground: rgb(255, 255, 255);

$tabletBreakpoint: 600px;
$desktopBreakpoint: 900px;

$mobileMargin: 0;
$tabletMargin: 1vw;
$desktopMargin: 1rem;
