@use './config';

@media (min-width: config.$desktopBreakpoint) {
  .main-header {
    margin: config.$desktopMargin;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto auto;
    grid-template-areas:
      'top about'
      'top links';
  }

  .main-content {
    margin: 0 config.$desktopMargin;
  }

  .main-footer {
    margin: config.$desktopMargin;

    .email-container {
      align-self: flex-start;
    }
  }
}
