@use './config';
@use './mobile';
@use './tablet';
@use './desktop';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: config.$fontStack2;
  background-color: #fff;
}

svg {
  height: 2rem;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > * {
    // outline: 1px solid grey;
  }
}

.main-header {
  background-color: config.$headerBackground;
  display: grid;

  .top {
    grid-area: top;
    min-height: 15rem;
    min-width: 15rem;
    background-image: url('../images/headshot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 84% 5%;

    h1 {
      font-family: config.$fontStack1;
      font-weight: 300;
      color: #fff;
      font-size: clamp(3rem, 5vw, 4rem);
      padding: 0.25rem 2rem;
    }
  }

  .about {
    padding: 0.5rem;

    h2 {
      font-size: clamp(2rem, 4vw, 3rem);
    }
  }

  .links {
    padding: 0.5rem;
    grid-area: links;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
  }
}

.main-content {
  background-color: config.$mainBackground;
  flex: 1;
}

.main-footer {
  background-color: config.$footerBackground;

  .email-container a {
    display: flex;
  }
}
