@use './config';
@use './mobile';
@use './tablet';
@use './desktop';

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return config.$darkFontColor;
  } @else {
    @return config.$lightFontColor;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
  svg path {
    fill: set-text-color($color);
  }
  svg path + path {
    fill: $color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: config.$fontStack2;
  color: inherit;
  background-color: #fff;
}

svg {
  height: clamp(2rem, 4vw, 5rem);
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: config.$fontStack1;
  font-weight: 300;
  color: config.$lightFontColor;
  font-size: clamp(3rem, 5vw, 4rem);
  padding: 0.25rem 2rem;
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > * {
    // outline: 1px solid grey;
  }
}

.links {
  display: flex;
  gap: 1rem;
}

.main-header {
  @include set-background(config.$lightBackgroundColor);
  display: grid;
  grid-gap: 1rem;

  .top {
    grid-area: top;
    min-height: 15rem;
    min-width: 15rem;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.128),
        rgba(255, 255, 255, 0.432)
      ),
      url('../images/headshot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5% 5%;
  }

  .about {
    padding: 0.5rem;
  }

  .links {
    padding: 0.5rem;
    grid-area: links;
    justify-content: right;
    align-items: flex-end;
  }
}

.main-content {
  background-color: config.$mainBackground;
  flex: 1;
}

.main-footer {
  // @include set-background(config.$darkBackgroundColor);
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.79),
      rgb(255, 255, 255, 1)
    ),
    url('../images/card.jpg');
  background-size: cover;
  background-position: 25% 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  .call-to-action {
    // margin-bottom: 3rem;
  }

  .email-container {
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid config.$darkBackgroundColor;
    border-radius: 5000px;

    a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: inherit;
    }
  }

  .links {
    justify-content: space-evenly;
  }
}
